*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

.container {
  width: 100%;
}

.\!container {
  width: 100% !important;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .\!container {
    max-width: 640px !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .\!container {
    max-width: 768px !important;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .\!container {
    max-width: 1024px !important;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .\!container {
    max-width: 1280px !important;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }

  .\!container {
    max-width: 1536px !important;
  }
}

.visible {
  visibility: visible;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.-top-\[91px\] {
  top: -91px;
}

.left-0 {
  left: 0px;
}

.left-4 {
  left: 1rem;
}

.left-\[190px\] {
  left: 190px;
}

.right-0 {
  right: 0px;
}

.right-12 {
  right: 3rem;
}

.right-28 {
  right: 7rem;
}

.right-48 {
  right: 12rem;
}

.top-0 {
  top: 0px;
}

.top-2 {
  top: 0.5rem;
}

.top-20 {
  top: 5rem;
}

.top-3 {
  top: 0.75rem;
}

.top-6 {
  top: 1.5rem;
}

.top-8 {
  top: 2rem;
}

.top-\[25\%\] {
  top: 25%;
}

.top-\[25px\] {
  top: 25px;
}

.top-\[80px\] {
  top: 80px;
}

.top-full {
  top: 100%;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-50 {
  z-index: 50;
}

.z-\[1\] {
  z-index: 1;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clear-both {
  clear: both;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-\[55px\] {
  margin-top: 55px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.h-10 {
  height: 2.5rem;
}

.h-12 {
  height: 3rem;
}

.h-14 {
  height: 3.5rem;
}

.h-20 {
  height: 5rem;
}

.h-5 {
  height: 1.25rem;
}

.h-6 {
  height: 1.5rem;
}

.h-8 {
  height: 2rem;
}

.h-9 {
  height: 2.25rem;
}

.h-\[30px\] {
  height: 30px;
}

.h-\[44px\] {
  height: 44px;
}

.h-\[47px\] {
  height: 47px;
}

.h-\[48px\] {
  height: 48px;
}

.h-\[62px\] {
  height: 62px;
}

.h-\[64px\] {
  height: 64px;
}

.h-full {
  height: 100%;
}

.w-1\/2 {
  width: 50%;
}

.w-1\/4 {
  width: 25%;
}

.w-1\/5 {
  width: 20%;
}

.w-10 {
  width: 2.5rem;
}

.w-12 {
  width: 3rem;
}

.w-5 {
  width: 1.25rem;
}

.w-60 {
  width: 15rem;
}

.w-8 {
  width: 2rem;
}

.w-\[100px\] {
  width: 100px;
}

.w-\[122px\] {
  width: 122px;
}

.w-\[1280px\] {
  width: 1280px;
}

.w-\[157px\] {
  width: 157px;
}

.w-\[172px\] {
  width: 172px;
}

.w-\[175px\] {
  width: 175px;
}

.w-\[176px\] {
  width: 176px;
}

.w-\[197px\] {
  width: 197px;
}

.w-\[216px\] {
  width: 216px;
}

.w-\[250px\] {
  width: 250px;
}

.w-\[260px\] {
  width: 260px;
}

.w-\[283px\] {
  width: 283px;
}

.w-\[290px\] {
  width: 290px;
}

.w-\[30px\] {
  width: 30px;
}

.w-\[310px\] {
  width: 310px;
}

.w-\[336px\] {
  width: 336px;
}

.w-\[380px\] {
  width: 380px;
}

.w-\[400px\] {
  width: 400px;
}

.w-\[559px\] {
  width: 559px;
}

.w-\[60px\] {
  width: 60px;
}

.w-\[64px\] {
  width: 64px;
}

.w-\[65px\] {
  width: 65px;
}

.w-\[88px\] {
  width: 88px;
}

.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.min-w-full {
  min-width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.justify-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 0.5rem;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[7px\] {
  border-radius: 7px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-l-none {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.rounded-r-none {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.border {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-l-0 {
  border-left-width: 0px;
}

.border-r {
  border-right-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-primary {
  border-color: var(--primary);
}

.border-zinc-100 {
  --tw-border-opacity: 1;
  border-color: rgb(244 244 245 / var(--tw-border-opacity, 1));
}

.bg-\[\#F8F8F8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(248 248 248 / var(--tw-bg-opacity, 1));
}

.bg-bgColor-100 {
  background-color: var(--bgColor-100);
}

.bg-bgColor-500 {
  background-color: var(--bgColor-500);
}

.bg-inherit {
  background-color: inherit;
}

.bg-primary-500 {
  background-color: var(--primary-500);
}

.bg-secondary-600 {
  background-color: var(--secondary-600);
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-zinc-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(244 244 245 / var(--tw-bg-opacity, 1));
}

.bg-none {
  background-image: none;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-2\.5 {
  padding: 0.625rem;
}

.p-4 {
  padding: 1rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.py-3\.5 {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pl-0\.5 {
  padding-left: 0.125rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pr-0\.5 {
  padding-right: 0.125rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-1\.5 {
  padding-right: 0.375rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-7 {
  padding-right: 1.75rem;
}

.pt-12 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-8 {
  padding-top: 2rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.align-middle {
  vertical-align: middle;
}

.font-\[Dana\] {
  font-family: Dana;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.not-italic {
  font-style: normal;
}

.leading-10 {
  line-height: 2.5rem;
}

.leading-5 {
  line-height: 1.25rem;
}

.leading-6 {
  line-height: 1.5rem;
}

.leading-8 {
  line-height: 2rem;
}

.leading-9 {
  line-height: 2.25rem;
}

.leading-\[30px\] {
  line-height: 30px;
}

.leading-\[44px\] {
  line-height: 44px;
}

.leading-\[45px\] {
  line-height: 45px;
}

.leading-\[48px\] {
  line-height: 48px;
}

.leading-\[56px\] {
  line-height: 56px;
}

.leading-\[80px\] {
  line-height: 80px;
}

.text-primary {
  color: var(--primary);
}

.text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity, 1));
}

.text-textColor {
  color: var(--textColor);
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-zinc-500 {
  --tw-text-opacity: 1;
  color: rgb(113 113 122 / var(--tw-text-opacity, 1));
}

.text-zinc-900 {
  --tw-text-opacity: 1;
  color: rgb(24 24 27 / var(--tw-text-opacity, 1));
}

.text-zinc-950 {
  --tw-text-opacity: 1;
  color: rgb(9 9 11 / var(--tw-text-opacity, 1));
}

.opacity-0 {
  opacity: 0;
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

* {
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #153FAB;
  --primary-700: #1370DD;
  --primary-600: #0E82F0;
  --primary-500: #0091FF;
  --primary-300: #5CB1FF;
  --secondary:#FE6806;
  --secondary-600: #FFAD00;
  --secondary-500: #FFBB00;
  --textColor: #18181b;
  --bgColor: #18181b;
  --bgColor-100: #f4f4f5;
  --bgColor-500: #71717a;
}

.border-type-1 {
  border:1px solid #737373
}

.rounded-type-1 {
  border-radius: 0.25rem;
}

.radius-type-2 {
  border-radius: 100%;
}

@font-face {
  font-display: swap;

  font-family: 'IRANSansWeb';

  font-style: normal;

  font-weight: normal;

  src: url('fonts/IRANSansWeb.ttf') format('truetype');
}

@font-face {
  font-display: swap;

  font-family: 'fontawesome-webfont';

  font-style: normal;

  font-weight: normal;

  src: url('fonts/fontawesome-webfont.ttf') format('truetype');
}

.dir-ltr {
  direction: ltr;
}

.dir-rtl {
  direction: rtl;
}

.clr{
  clear:both;
  margin:0 auto;
  display:block
}

html {
  font-family: 'IRANSansWeb';
}

input,select,button{
  border: unset;
  font-family: 'IRANSansWeb';
}

i.fa,i.fas,i.far,i.fal {
  font-family: 'fontawesome-webfont';
  font-style: normal;
}

.spinner-label-icon::before {
  content: "\f110";
  font-family: 'fontawesome-webfont';
  font-style: normal;
}

.map-label-icon::before {
  content: "\f041";
  font-family: 'fontawesome-webfont';
  font-style: normal;
}

.exchange-icon::before {
  content: "\f0ec";
  font-family: 'fontawesome-webfont';
  font-style: normal;
}

.calendar-label-icon::before {
  content: "\f073";
  font-family: 'fontawesome-webfont';
  font-style: normal;
}

.down-label-icon::before {
  content: "\f107";
  font-family: 'fontawesome-webfont';
  font-style: normal;
}

.close-label-icon::before{
  content: "\f00d";
  font-family: 'fontawesome-webfont';
  font-style: normal;
}

.passenger-label-icon::before{
  content: "\f007";
  font-family: 'fontawesome-webfont';
  font-style: normal;
}

.flightclass-label-icon::before{
  content: "\f00c";
  font-family: 'fontawesome-webfont';
  font-style: normal;
}

.remove-multiroute-icon::before{
  content: "\f014";
  font-family: 'fontawesome-webfont';
  font-style: normal;
}

.Basis_Date_Box .no-activedate {
  background-color: var(--bgColor-100);
  opacity: .5;
}

.add-routs.deactive-addmc {
  opacity: .2;
  cursor: no-drop;
}

.add-routs.deactive-addmc:hover{
  color: var(--primary);
}

.hover\:bg-primary:hover {
  background-color: var(--primary);
}

.hover\:bg-primary-300:hover {
  background-color: var(--primary-300);
}

.hover\:bg-primary-500:hover {
  background-color: var(--primary-500);
}

.hover\:bg-secondary:hover {
  background-color: var(--secondary);
}

.hover\:text-primary:hover {
  color: var(--primary);
}

.hover\:text-primary-500:hover {
  color: var(--primary-500);
}

.hover\:text-red-600:hover {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity, 1));
}

.hover\:text-secondary:hover {
  color: var(--secondary);
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.group:hover .group-hover\:text-primary {
  color: var(--primary);
}

@media not all and (min-width: 1280px) {
  .max-xl\:absolute {
    position: absolute;
  }

  .max-xl\:-top-\[86px\] {
    top: -86px;
  }

  .max-xl\:left-0 {
    left: 0px;
  }

  .max-xl\:left-\[unset\] {
    left: unset;
  }

  .max-xl\:right-0 {
    right: 0px;
  }

  .max-xl\:top-0 {
    top: 0px;
  }

  .max-xl\:top-\[50px\] {
    top: 50px;
  }

  .max-xl\:my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .max-xl\:mb-0 {
    margin-bottom: 0px;
  }

  .max-xl\:mb-2 {
    margin-bottom: 0.5rem;
  }

  .max-xl\:mb-4 {
    margin-bottom: 1rem;
  }

  .max-xl\:mb-5 {
    margin-bottom: 1.25rem;
  }

  .max-xl\:ml-0 {
    margin-left: 0px;
  }

  .max-xl\:mr-0 {
    margin-right: 0px;
  }

  .max-xl\:mt-0 {
    margin-top: 0px;
  }

  .max-xl\:mt-\[80px\] {
    margin-top: 80px;
  }

  .max-xl\:block {
    display: block;
  }

  .max-xl\:h-auto {
    height: auto;
  }

  .max-xl\:w-full {
    width: 100%;
  }

  .max-xl\:rotate-90 {
    --tw-rotate: 90deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .max-xl\:gap-0 {
    gap: 0px;
  }

  .max-xl\:rounded-2xl {
    border-radius: 1rem;
  }

  .max-xl\:border {
    border-width: 1px;
  }

  .max-xl\:border-solid {
    border-style: solid;
  }

  .max-xl\:border-secondary-800 {
    border-color: var(--secondary-800);
  }

  .max-xl\:bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  }

  .max-xl\:p-0 {
    padding: 0px;
  }

  .max-xl\:p-2 {
    padding: 0.5rem;
  }

  .max-xl\:p-2\.5 {
    padding: 0.625rem;
  }

  .max-xl\:px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .max-xl\:pt-0 {
    padding-top: 0px;
  }

  .max-xl\:text-left {
    text-align: left;
  }

  .max-xl\:text-center {
    text-align: center;
  }

  .max-xl\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .max-xl\:leading-\[56px\] {
    line-height: 56px;
  }

  .max-xl\:leading-normal {
    line-height: 1.5;
  }

  .max-xl\:text-secondary-800 {
    color: var(--secondary-800);
  }

  .max-xl\:text-zinc-950 {
    --tw-text-opacity: 1;
    color: rgb(9 9 11 / var(--tw-text-opacity, 1));
  }
}